
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4;
    }

    nav {
        background-color: #fd5e53;
        position: fixed;
        right: 0;
        left: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul li {
        margin: 0 1.5rem;
        list-style: none;
        padding: 1.5rem 1.5rem;
    }

    nav ul li a {
        text-decoration: none;
        color: whitesmoke;
    }

    nav ul li:hover {
        background-color: brown;
    }
    /*first section*/
    #welcome-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #000;
        background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    }

    #welcome-section p {
        color: #d45d79;
    }

    #welcome-section h1 {
        color: white;
        font-size: 5rem;
    }

    h3 {
        text-align: center;
        text-transform: capitalize;
        text-decoration: underline;
        padding: 4vh;
        color: white;
        font-size: xx-large;
    }

    img {
        height: 40vh;
        width: 30vw;
    }

    .projects-container {
        display: grid;
        grid-template-rows: 25vw 25vw 25vw;
        
        grid-template-areas:
            "first second third"
            "fourth fifth sixth"
        ;
        justify-content: space-around;
        align-items: center;
        gap: 4vh 0;

    }

    #projects {
        background-color: #192965;
    }

    .tribute_page {
        grid-area: first;


    }

    .random_quote_machine {
        grid-area: second;
    }

    .javascript_calculator {
        grid-area: third;
    }

    .map-data-across-the-globe {
        grid-area: fourth;
    }

    .wikipedia_viewer {
        grid-area: fifth;
    }

    .tic_tac_toe_game {
        grid-area: sixth;
    }

    .projects-container p {
        padding: 1rem;
        text-align: center;
        color: white;
    }

    .projects-container div {
        background-color: #333333;
    }

    .projects-container p:before {
        content: "<   ";
        color: #333333;
    }

    .projects-container p:after {
        content: "   />";
        color: #333333;
    }

    .projects-container p:hover:after {
        color: tomato;
    }

    .projects-container p:hover:before {
        color: tomato;
    }

    .button {
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        padding: 10vh;
    }

    .button a {
        text-decoration: none;
        text-transform: none;
        color: white;
        padding: 1vw;
        background-color: #333333;
    }

    h1,
    p {
        text-align: center;
    }

    h1 {
        padding-top: 10vh;
    }

    .container1 ul {
        display: flex;

        justify-content: center;
        margin: 1vh;
        padding: 10vh;
    }

    .container1 ul li {
        margin: 0 auto;
        list-style: none;
    }

    .container1 a {
        text-decoration: none;
        text-transform: none;
        color: white;

    }

    #profile-link {
        background-color: #706c61;
        color: white;
        border-bottom: 5px solid red;

    }
    #footer {
        display: flex;
        justify-content: space-between;
        padding: 10vh;
        background-color: #706c61;
        border-top: 5px solid red;
    }
    @media screen and (max-width:1200px){
        .projects-container {
        display: flex;
        flex-direction: column;
        }
        
    img {
        height: 100%;
        width: 100%;
    }   
    }